.Core
{
  .HoursTable-row
  {
    margin-bottom: 4px;

    &.is-today
    {
      font-weight: theme(fontWeight.bold);
    }
  }

  &-contentWrapper
  {
    background: rgba(255, 255, 255, 0.95);
  }

  &-image
  {
    max-width: none !important;
  }
}

.mobile-nav-margin {
  @media (max-width: 640px) {
    margin-top: 4.063rem;
  }
}
