.mobile-menu-dropdown {
  font-size: 1.125rem;
  /* margin: 0 1.25rem; */
  padding: 1rem 0;
  color: #000;
  width: 100%;
  letter-spacing: 0.5px;

  &-list {
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 1.2rem;
    &-item {
      width: 100%;
      font-size: 0.875rem;
      padding: 0.6rem 0 !important;
    }
  }
}
.dropdown-body-container {
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e9e9e9;
}
