.marketo-form-component {
    background-color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
}

.marketo-form-component .mktoForm {
    width: 80% !important;
    margin-left: 20px;
    margin-right: 50px;
    padding-bottom: 20px;
}

.marketo-form-component .mktoForm .mktoFormCol {
    margin-bottom: 0px !important;
}

.marketo-form-component .mktoForm .mktoFormCol,
.marketo-form-component .mktoForm .mktoFieldWrap,
.marketo-form-component .mktoForm .mktoField {
    width: 100% !important;
}

.marketo-form-component .mktoForm .mktoField {
    padding-bottom: 5px;
    font-size: 16px;
}

.marketo-form-component .mktoForm label.mktoLabel {
    text-transform: uppercase;
    font-weight: 500 !important;
    width: unset !important;
    font-size: 11px;
}

.marketo-form-component .mktoForm .mktoField {
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    margin-bottom: 5px;
    width: 95%;
}

.marketo-form-component .mktoForm input[type="text"].mktoField:focus {
    border-bottom: 1px solid rgb(172, 131, 20);
}

.mktoForm .mktoCheckboxList {
    width: 100% !important;
    display: block;
}

.mktoForm .mktoCheckboxList > input[type="checkbox"] {
    background-size: cover;
    -webkit-appearance: none;
    border: 1px solid;
    height: 25px;
    width: 25px !important;
}

.mktoForm .mktoCheckboxList > label {
    padding-left: 15px;
    height: 25px;
}

.marketo-form-component .mktoForm input[type="checkbox"]:hover {
    outline: none;
}

.marketo-form-component .mktoForm input[type="checkbox"]:checked {
    background-image: url(https://embed.widencdn.net/img/cambriausa/jfppmfpx7h/50x50px/checkbox_icon.gif);
    outline: none;
}

.marketo-form-component .mktoForm .mktoButton {
    background: unset !important;
    color: unset !important;
    text-transform: uppercase;
    text-decoration: underline;
    border: none !important;
    font-size: 16px !important;
}

.marketo-form-component .mktoForm .mktoButton:hover {
    outline: 1px solid rgb(172, 131, 20);
}

.marketo-form-component #confirmform {
    visibility: hidden;
    font-weight: bold;
}